/* Réinitialisation générale : ce bloc supprime les marges et les espacements par défaut appliqués par les navigateurs */
* {
  margin: 0;
  /* Supprime toutes les marges extérieures par défaut sur tous les éléments HTML */
  padding: 0;
  /* Supprime tous les espacements intérieurs (entre le contenu et la bordure) sur tous les éléments HTML */
}

/* Classe utilisée pour le footer */
.page-wrapper {
  margin-top: 400px;
}


@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../../font/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'PlayfairDisplay', serif;
}
